* {
  padding: 0;
  margin: 0;
}

body {
  padding-left: 40px;
  padding-top: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  background: #e5e5e5;
  font-family: "montserrat" sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: row;
  background: #ffffff;
  width: 1200px;
  margin: auto;
}

.main-content {
  padding-left: 88px;
  padding-top: 80px;
  padding-bottom: 80px;
  padding-right: 40px;
}

.my-photo {
  width: 320px;
  margin-bottom: 40px;
}

.about-me {
  margin-bottom: 40px;
}

.my-name {
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 55px;
  margin-bottom: 8px;
}

.my-sumary {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

.yellow-bgd {
  background: yellow;
}

.sidebar {
  background-color: #dfeeff;
}
.sidebarContent {
  margin-left: 40px;
}
.title-contacts {
  margin-bottom: 6px;
}
.block-contacts {
  margin-bottom: 40px;
}
.block-tech {
  margin-bottom: 40px;
}

.block-skills {
  margin-bottom: 40px;
}

img {
  margin-top: 40px;
  background-color: #6096ff;
}
.aside {
  background: #dfeeff;
}
.contacts-header {
  color: red;
}

li {
  font-weight: 800;

  color: #161d2a;
  list-style-type: none;
}
li a {
  margin-left: 4px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  text-decoration-line: underline;

  color: #2979ff;
}

.sidebar-title {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #161621;
  margin-bottom: 8px;
}

.contacts-container {
  margin-bottom: 40px;
}

.contacts-item {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
}

.contacts-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-decoration-line: underline;
  color: #2979ff;
}

/* skills */

.skills-container {
  margin-bottom: 40px;
}
.skills-list {
  padding-left: 25px;
}

.skills-item {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #161d2a;
  list-style: disc;
}

.soft-list {
  padding-left: 25px;
}

.soft-item {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #161d2a;
  list-style: disc;
}

.my-profession {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-bottom: 8px;
}

.main-content-title {
  margin-bottom: 8px;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #000000;
}

.projects-container {
  margin-bottom: 44px;
}

/* .projects-list {
  list-style: decimal;
} */

.projects-item {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  list-style: decimal;
}

.projects-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-decoration-line: underline;
  color: #2979ff;
}

.projects-tech {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}

.projects-list {
  padding-left: 20px;
}

.work {
  margin-bottom: 40px;
}
.company-position {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  margin-bottom: 12px;
}

.company-position-accent {
  color: #6096ff;
}

.company-paried {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
  margin-bottom: 8px;
}

.copmany-duties-item {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  list-style: disc;
}

.company-duties-list {
  padding-left: 20px;
}

.company-container {
  margin-bottom: 8px;
}

.main-content-title {
  margin-bottom: 8px;
}
.link-p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #6096ff;
  margin-bottom: 8px;
}
.title-education {
  margin-bottom: 8px;
}
.company-paried {
  margin-bottom: 8px;
}

/* education 2 */

.company-position-accent {
  margin-bottom: 8px;
}
.title-education-2 {
  margin-bottom: 8px;
}
